#head_line1 {
  background-color: rgb(255, 222, 159);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#head_line2 {
  background-color: rgb(253, 188, 69);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#home_page {
  position: absolute;
}
#kamut {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#plus {
  position: relative;
  top: 20px;
}
#minus {
  position: relative;
  top: 20px;
}
.c {
  border-radius: 25px;
  background-color: rgb(253, 188, 69);
  margin: 5px;
}

#sb {
  border-radius: 25px;
  width: 250px;
  height: 20px;
  background-color: rgb(253, 188, 69);
}
#search-icone {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  right: 45px;
  top: 10px;
  height: 25px;
}
#catgory:hover {
  background-color: rgb(250, 216, 152);
}
.all_prodact {
  border-radius: 25px;
  box-shadow: 2px;
  height: 300px;
  width: 200px;
  margin: 3px;
  border: 2px solid yellowgreen;
  margin: 20px;
  text-align: center;
}
#colorod_div {
  background-color: rgb(250, 216, 152);
  border-radius: 20px;
  height: 64%;
}
#pimg {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 25px;
}
#s_num {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(246, 193, 94);
}
#line {
  border: 2px solid yellowgreen;
  border-radius: 30%;
  margin: 20px;
}
#items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#item:hover {
  background-color: aqua;
}
#buttons {
  bottom: 0;
  left: 0;
}
#mdheadline {
  text-align: center;
}
.mdcard {
  display: flex;
  padding: 10px;
  width: 850px;
  height: 490px;
  border: 2px solid brown;
}
div #mdimg {
  height: 500px;
  width: 200px;
  margin-right: 50px;
}
